<div class="container">
<h1 class="text-center">配当金月別棒グラフ</h1>
<div class="right">
合計：<%= @sum %>円
</div>
<div class="center">
<h3 class="text-center">全体</h3>
<%= column_chart @column_chart1 %>
<h3 class="text-center">内訳</h3>
<%= column_chart @column_chart2, stacked: true %>
</div>
<br>
<br>
<%= link_to "戻る", dividends_path, class: "btn btn-primary" %>

</div>

<style>
.container {
  margin-top: 50px;
}
.center {
  border: solid 1px gray;
}
.right {
    text-align: right;
}
</style>