<div class="center2">
<h1>新規配当金登録</h1>

<%= render "form", dividend: @dividend %>

<br>

<div>
  <%= link_to "配当金一覧に戻る", dividends_path %>
</div>
</div>

<style>
.center2 {
  max-width: 800px;
  margin: auto;
}
</style>